{
    "extends": ["@gravity-ui/eslint-config", "@gravity-ui/eslint-config/prettier"],
    "root": true,
    "env": {
        "node": true,
        "jest": true
    },
    "rules": {
        "@typescript-eslint/no-explicit-any": ["off"],
        "new-cap": ["off"]
    },
    "ignorePatterns": "dist/**/*"
}
